*{
	font-family: Tangerine, sans-serif;
	color: teal;
	font-weight: 900;
	font-style: normal;
}

.first_nav{
	width: 100%;
	height: 110px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: black;
	font-family: 'Cantarell',sans-serif;
	z-index: 999;
}

.logo{
	margin-top: 15px;
	color: white;
	width: 100px;
	height: 82px;
	float: left;
}

#image_dir{
	vertical-align: middle;
}

.first_nav nav {
	font-family: 'Cantarell',sans-serif;
	color: teal;
	float:right;
	width: 800px;
	height: 100%;
	margin-right: 15px;
}

.nav_items {
	display: block;
	width: 800px;
	height: 80px;
	list-style-type: none;
	padding: 0;
	margin-left: 45px;
}

.nav_items li {
	list-style: none;
	width: 140px;
	/*height: 80px;*/
	display:inline-block;
	font-size: xx-large;
	text-align: center;
	line-height: 4;
}

.nav_items li a{
	text-decoration: none;
}

.second_nav{
	/*clear: both;*/
	width: 1000px;
	height: 150px;
	position: relative;
	top: 125px;
	left: 20%;
	margin-top: 10px;
	border: 4px solid teal;
	background-color: gray;
	z-index: 99;
	overflow-x: hidden;
	overflow-y: hidden;
}

#ar_l{
	clear: right;
	margin-left: 10px;
	margin-top: 60px;
	z-index: 4000;
	overflow: visible;
	position: relative;
}

#ar_r{
	float: right;
	margin-right: 10px;
	margin-top: 60px;
	z-index: 400;
	overflow: visible;
	position: relative;
}

.mid_nav{
	clear: both;   
	width: 2000px;
	height: 100px;
	border: .5px dotted black;
	z-index: 98;
	position: relative;
	left: 40px;
	top: -70px;
	float: left;
	margin-left: 20px;
}

.wrapper{
	width: 800px;
    height: 800px;
    position: relative;
    border: 8px groove teal;
    left: 9%;
    top: 170px;
    margin: 0 auto;
    z-index: 15;
    background-color: grey;
    color: white;
    font-family: Cantarell, sans-serif;
}

#content{
	width: 450px;
	margin: 18px auto;
}

#content h1{
	font-family: Cantarell, sans-serif;
	color: bisque;
	display: block;
	width: 125%%;
}

#content p{
	font-family: Cantarell, sans-serif;
	color: beige;
}

.windows{
	width: 150px;
	display: inline-block;
	z-index: -2000;
	overflow: hidden;
	position: relative;
	vertical-align: 100%;
	text-align: center;
}

.windows img{
	width: 100px;
	height: 100px;
	border-radius: 25%;
	margin-left: 20px;
	overflow: hidden;
	position: relative;
	z-index: -3000;
}

.windows figcaption b{
	color: white;
	text-align: center;
	font-family: 'Inconsolata', sans-serif;
	margin: 0 auto;
}

figcaption{
	display: block;
}

.footer{
	background-color: black;
    width: 100%;
    height: 110px;
    clear: both;
    vertical-align: bottom;
    margin-top: 800px;
}

.footer p{
	font-family: Cantarell, sans-serif;
    color: beige;
    max-width: 48%;
    position: absolute;
    left: 36%;
    right: 36%;
    padding-left: 10px;
    font-size: 10px;
    margin: 32px;
    text-align: center;
}

.r_split{
	width: 25%;
	height: 100%;
	color: beige;
	float: right;
}

.r_split hr{
	margin-top: 35px;
}

.l_split{
	width: 25%;
	height: 100%;
	color: beige;
	float: left;
}

.l_split hr{
	margin-top: 35px;
}

   /*INSERT THE CONTENT IN THIS SECTION, NEEDS THE GUTTERS TO BE PLACED AND THE FITTINGS MODIFIED*/

